script( type="text/javascript" , src="js/plugin/page.js" )
link( type="text/css" , rel="stylesheet" , href="css/plugin/page.css" )

script( type="text/kulor-template" , id="pageContainerTemplate" )
	.uiSub-page-container

script( type="text/kulor-template" , id="subPageContainerTemplate" )
	.uiSub-page-singlePage