doctype html
html
    head
        link( type="text/css" , rel="stylesheet" , href="css/demo.css" )
    body
        .border.width.clearfix
            .h1.fl
            .h2.fl
        script( type="text/javascript" , src="js/demo.js" )