doctype html
html
    head
        meta( http-equiv="Content-Type" , content="text/html;charset=utf-8" )
        link( rel="stylesheet" , type="text/css" , href="css/global.css" )
        link( rel="stylesheet" , type="text/css" , href="css/lib/bootstrap.min.css" )
        script( type="text/javascript" , src="js/markdown.js" )
        script( type="text/javascript" , src="js/global.js" )
    body
        header.brand
            b.glyphicon.glyphicon-th-large Kulor
            span 励志做更好的前端攻城狮
        .contentBody
            include subs/nav/nav
            .pageContainer

        include ../src/subs/modalPage/page

        script( type="text/javascript" , src="js/docApp.js" )