script( type="text/kulor-template" , id="interviewContainerTemplate" )
    .interviewContainer
        img
        h3  简介
        p 更便捷的方式去做模块化开发

        h3 基础技能
        ul
            li.grunt-color
                a( target="_blank" , href="http://www.gruntjs.org/" )
                    span.glyphicon.glyphicon-home 
                        b     Grunt
            li.jade-color
                a( target="_blank" , href="http://jade-lang.com/" )
                    span.glyphicon.glyphicon-home
                        b     Jade

            li.requirejs-color
                a( target="_blank" , href="http://requirejs.org" )
                    span.glyphicon.glyphicon-home
                        b     Requirejs
            
        dl.clearFix
            dt git地址：
            dd
                span kulor:
                a(target="_blank" , href="https://github.com/nihaox1/kulor" ) https://github.com/nihaox1/kulor      
            dd
                span grunt-listLink:
                a(target="_blank" , href="https://github.com/nihaox1/grunt-listcsslink" ) https://github.com/nihaox1/grunt-listcsslink     

