script( type="text/kulor-template" , id="gruntMarkdown" )
    ###grunt
    | [grunt](http://www.gruntjs.org/)是一个JavaScript任务运行工具      
    | kulor的核心开发流程中，对于代码的管理，整合，编译等等，均是通过grunt对应插件实现的        
    | 在进行kulor开发前，请务必保证已经有grunt的使用基础