script( type="text/kulor-template" , id="jadeMarkdown" )
    ###jade
    | [jade](http://jade-lang.com/)是一个html模版引擎，如您所见，本站所有的页面均是由jade编写的，通过转译至html代码       
    | kulor的核心开发流程中，对于插件的管理，部分是基于jade相关功能，如果您对include,expend相关命令比较模糊，可以[链接至jade官方](http://jade-lang.com/)查看