script( type="text/kulor-template" , id="summuyMarkdown" )
    ###概述
    | kulor在代码实现细节上并无太多创新的地方        
    | 更多的是在开发流程中进行了大幅的开发简化，并且在模块化上面进行了进一步的分离        
    | 将css，html代码同时进行了模块化       
    | kulor已提供的类包括Base,Template,Ajax,EventBind,Listener,RequireFile,Validate,DataView,ModalView     
    | 适用于RIA开发的Page类        
    | 组件相关的包括panel类，dialog类     
    | 在开发文档层面，暂时不会对所有类进行详细的描述，只对关键的类，功能进行简单描述