link( type="text/css" , rel="stylesheet" , href="css/subs/panel.css" )
script( type="text/javascript" , src="js/subs/panel.js" )

script( type="text/kulor-template" , id="uiSub-panel-container" )
    div(class="uiSub-panel-container-pos-center uiSub-hidden uiSub-panel-theme-{{theme}}")
        .uiSub-panel-container-pos-center-left-fixed

script( type="text/kulor-template" , id="uiSub-panel-coverBy" )
    .uiSub-panel-coverBy.uiSub-hidden