extends layout/base

block head

block body
    include page/home

    include subs/panel/panel
    include subs/dialog/dialog
    include subs/modalPage/page
    script( type="text/javascript" , src = "js/requireConfig.js" )
    script( type="text/javascript" , src = "js/app.js" )