extends layout/base

block head

block body
    header
        label   工具箱
        span    首页

    article.contentBody

    include subs/modalPage/page
    script( type="text/javascript" , src = "js/requireConfig.js" )
    script( type="text/javascript" , src = "js/app.js" )