link(type="text/css",rel="stylesheet",href="css/plugin/list.css")
script(type="text/kulor-template",id="uiSubListPageTemplate")
    a(func="start") 首页
    a(func="pre") 上一页
    {{pageBefore}}
    {{#each pages}}
    a(class="{{hasClass}}" , func="goto" , _page="{{page}}") {{page}}
    {{/each}}
    {{pageAfter}}
    a(func="next") 下一页
    a(func="last") 尾页