include ../panel/panel.jade
link( type="text/css" , rel="stylesheet" , href="css/subs/dialog.css" )
script( type="text/javascript" , src="js/subs/dialog.js" )

script( type="text/kulor-template" , id="uiSub-dialog-container" )
    div(class="uiSub-dialog-container uiSub-dialog-theme-{{theme}}" , style="width:{{width}};")
        h5.uiSub-dialog-title {{title}}
            i.uiSub-dialog-close(uiSub-role="cancel") X
        .uiSub-dialog-content {{content}}
        .uiSub-btn-footer 
            a.btn.btn-info(uiSub-role="success") {{successBtnName}}
            a.btn.btn-default(uiSub-role="cancel") {{cancelBtnName}}